Language: Cpp
BasedOnStyle: LLVM
UseTab: Never
TabWidth: 4
IndentWidth: 4
ColumnLimit: 160
AlignAfterOpenBracket: Align
AlignOperands: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Linux
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SortIncludes: false
PointerAlignment: Right
