Language: C
BasedOnStyle: LLVM
UseTab: Always
TabWidth: 8
IndentWidth: 8
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignOperands: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Linux
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SortIncludes: false
PointerAlignment: Right
